@font-face {
    font-family: "Roboto";
    src: url(../FIRST.PROJECT/images/font/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto Medium";
    src: url(../FIRST.PROJECT/images/font/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Archivo Black";
    src: url(../FIRST.PROJECT/images/font/fonts/Archivo/Archivo-Black.ttf) format("truetype");
}